.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

mat-form-field {
    width: 300px;
}

mat-dialog-actions{
    margin-bottom: 20px;
}

.chips-fields {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
  
    ::ng-deep .mat-form-field {
      width: 100%;
    }
}

mat-autocomplete {
    overflow-y: scroll;
}
