.container {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.container-spinner{
    display: flex;
    align-items: center;
    justify-content: center;
     
}

mat-spinner::ng-deep circle {
    stroke: #A1535E
}